html{
    margin: 0;
    padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'OpenSans-Bold';
}

#imageBanner {
    width: 100%;
}

header {
  width:100%;
  height: 4em;
  position: fixed;
  right: 0;
  padding: 0.5em;
  margin-top: em;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(100, 100, 100, .5);
  -webkit-backdrop-filter: blur(1.5em);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header h1 {
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-family: 'OpenSans-SemiBold';
  padding-left: 0.5em;
  color: rgba(255, 255, 255, 0.5);
}
header img {
  margin-left: 1em;
  width: 4em;
  border-radius: 30px;

}

#buttons {

  display: flex;
  float: right
  flex-direction:row;
  flex-shrink: 0;
  margin-right: 1em;

}

.button {
  position: absolute;
  right: 10px;
  top:0px;
  height: 1em;
  display: flex;
  align-items: center;
  padding: 1em;
  margin: 1em;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 40px;
  color: white;
  margin-right: .7em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  transform: scale(1.05);
}

#collection {
  height: 8.5em;
  display: flex;
  align-items: center;
}

.sectionHeader {
  margin: 1em;
  font-size: 20px;
  color: #696969;
}

#collection .card {
  transition: 0.2s;
  cursor: pointer;
}

#collection #tile {
  transition: 0.2s;
  cursor: pointer;
}

.card {
  height: 6em;
  display: flex;
  margin: 1.5em;
  margin-top: 0.50em;
  padding: 0 0.75em;
  font-size: 1.10em;
  align-items: center;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tile img {
  border-radius: 25px;
  width: 17em;
  height: 10em;
  margin: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tile:hover {
  transform: scale(1.05);
}

#blue {
  background: linear-gradient(to right, #3ca7ff, #5bc0ff);
}

#red {
  background: linear-gradient(to right, #ff6b5b, #ff945b);
}

#green {
  background: linear-gradient(to right, #5bff9d, #8cff5b);
}

.card:hover {
  transform: scale(1.05);
}

footer {
  background-color: white;
  padding: 2.9em;
  margin-top: 4em;
  font-size: .7em;
  border-top: 1px solid #CCCCCC;
}
